    <!-- homepage -->
    <div class="container">
        <div class="profile"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="default user">
            <h3>User Info:</h3>
            <div class="flex">
                <p>Username: </p>
                <p>Johny</p>
            </div>
            <div class="flex">
                <p>Email: </p>
                <p>john.doe@gmail.com</p>
            </div>
            <div class="flex">
                <p>Phone: </p>
                <p>+359 885 888 888</p>
            </div>
            <button class="edit-button">Edit</button>
        </div>
    </div>
